body {
  font-family: Roboto;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  padding: 0 50px 0 50px;
}

@media (min-width: 0px) and (max-width: 700px) {
  footer {
    padding: 0 15px 0 15px;
  }
}

@media (min-width: 701px) and (max-width: 900px) {
}

@media (min-width: 901px) and (max-width: 1200px) {
}
